.list {
  width: 100%;
  .emptyState {
    width: calc(100% - 10rem);
    display: flex;
    padding: 8rem 5rem;

    .emptyStateText {
      flex: 0 0 50%;
      text-align: left;

      h2 {
        font-size: 32px;
        font-weight: 600;
      }
    }

    .emptyStateImage {
      flex: 0 0 50%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .totalResults {
    text-align: left;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
