.list {
  width: 100%;
  .emptyState {
    width: calc(100% - 10rem);
    display: flex;
    padding: 8rem 5rem;

    .emptyStateText {
      flex: 0 0 50%;
      text-align: left;

      h2 {
        font-size: 32px;
        font-weight: 600;
      }
    }

    .emptyStateImage {
      flex: 0 0 50%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
